In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("Data/employee_compensation.csv")

In [9]:
df1 = df.groupby(['Organization Group','Department'], as_index=False)['Total Compensation'].mean()

In [25]:
df2=df1.sort_values(['Organization Group','Total Compensation'],ascending=[True,False])

In [26]:
df3= df2.reset_index(level=0,drop=True)

In [ ]:
print(df3.head(20))

In [27]:
df3.to_csv('Output\Question2_part1.csv')

,Organization Group,Department,Total Compensation
0,Community Health,Public Health,96190.190140
1,Culture & Recreation,Law Library,188424.362222
2,Culture & Recreation,Academy of Sciences,107319.727692
3,Culture & Recreation,Arts Commission,94339.597388
4,Culture & Recreation,War Memorial,76250.068022
5,Culture & Recreation,Asian Art Museum,71401.520060
6,Culture & Recreation,Public Library,70446.352147
7,Culture & Recreation,Fine Arts Museum,44205.439895
8,Culture & Recreation,Recreation and Park Commission,38912.859465
9,General Administration & Finance,City Attorney,166082.677561